﻿@{
    ViewBag.Title = "eriskitap";
}

<hr />
<div class="row">
    <div class="col-md-3 col-xs-12">
        @RenderPage("~/Views/Home/Kategori.cshtml")
        <hr />
    </div>

    <div class="col-md-9 col-xs-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://i.dr.com.tr/pimages/Content/Uploads/BannerFiles/dr/1116_d_u_54_851x373_kitaplarla_ugurluyoruz.jpg" width="800" height="600" alt="...">
                    <div class="carousel-caption">
                        
                    </div>
                </div>
                <div class="item">
                    <img src="http://indir.gazetevatan.com/resimler/harry-potter-kitaplari-ibooksta-yayinlandi-6413.jpg" width="800" height="600" alt="...">
                    <div class="carousel-caption">
                        
                    </div>
                </div>
                <div class="item">
                    <img src="http://4.bp.blogspot.com/-oEOPQvuF5xY/VDRHzJJ4GpI/AAAAAAAAG5Q/HocENz507Ks/s1600/20141007_205124.jpg" width="800" height="600" alt="...">
                    <div class="carousel-caption">
                        
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    @Html.Action("index_goster")
</div>
