﻿@{
    ViewBag.Title = "Kategori";
}

<div class="panel-group" id="accordion" >
    <div class ="panel panel-default" style="background-color:lightgreen">
        <div class="panel-heading"style="background-color:lightgreen" >
            <h4 class="panel-title">
                <a href="Urunler/Roman/1">@eriskitap.Resources.lang.Roman</a>
            </h4>
        </div>
    </div>
    <div class="panel panel-default" style="background-color:lightgreen">
        <div class="panel-heading" style="background-color:lightgreen">
            <h4 class="panel-title">
                <a href="Urunler/Edebiyat/1">@eriskitap.Resources.lang.Edebiyat</a>
            </h4>
        </div>
    </div>
    <div class="panel panel-default" style="background-color:lightgreen">
        <div class="panel-heading" style="background-color:lightgreen">
            <h4 class="panel-title">
                <a href="Urunler/Şiir/1">@eriskitap.Resources.lang.Şiir</a>
            </h4>
        </div>
    </div>
    <div class="panel panel-default" style="background-color:lightgreen">
        <div class="panel-heading" style="background-color:lightgreen">
            <h4 class="panel-title">
                <a href="Urunler/Tarih/1">@eriskitap.Resources.lang.Tarih</a>
            </h4>
        </div>

    </div>
</div>
