﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<eriskitap.Models.Urun>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <hr />
    <div class="row">
        @if (Model.Count() == 0)
        {
            <div class="row text-center"><h1>@eriskitap.Resources.lang.BuKategorideUrunYok</h1></div>
        }


        @foreach (var i in Model)
        {
            <div class="col-sm-4 col-xs-6 col-md-3 text-center">
                <div class="thumbnail">
                    <a href="@Url.Action("UrunDetay/"+@Html.DisplayFor(item => i.ID))"><img src=@Html.DisplayFor(item => i.ResimYol) class="img-responsive" alt="..." width="150" height="200"></a>
                    <div class="caption">
                        <h4>@Html.DisplayFor(item => i.Ad)</h4>
                        <p>@Html.DisplayFor(item => i.Detay)</p>
                        <p><span class="label label-success">@Html.DisplayFor(item => i.Fiyat) TL</span></p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="pagedList row text-center">
        @Html.PagedListPager(Model, sayfa => Url.Action(ViewBag.Cinsiyet + "/" + ViewBag.Kategori + "/" + sayfa, "Urunler"), PagedListRenderOptions.PageNumbersOnly)
    </div>
</body>
</html>
