﻿@model eriskitap.Models.Urun

@{
    ViewBag.Title = @eriskitap.Resources.lang.Sil;
}

<h2>@eriskitap.Resources.lang.Sil</h2>
<div>
    <h4>@eriskitap.Resources.lang.Urun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @eriskitap.Resources.lang.Ad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @eriskitap.Resources.lang.Detay
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detay)
        </dd>

        <dt>
            @eriskitap.Resources.lang.Kategori
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori)
        </dd>

        <dt>
            @eriskitap.Resources.lang.Fiyat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @eriskitap.Resources.lang.ResimYol
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResimYol)
        </dd>

        <dt>
            @eriskitap.Resources.lang.Adet
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adet)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@eriskitap.Resources.lang.Sil class="btn btn-default" />
        </div>
    }
</div>
