﻿@model IEnumerable<eriskitap.Models.Urun>

@{
    ViewBag.Title = @eriskitap.Resources.lang.Urunler;
}

<h2>@eriskitap.Resources.lang.Urunler</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-default">@eriskitap.Resources.lang.YeniUrunEkle</a>
</p>
<table class="table">
    <tr>
        <th>
            @eriskitap.Resources.lang.Ad
        </th>
        <th>
            @eriskitap.Resources.lang.Detay
        </th>
        <th>
            @eriskitap.Resources.lang.Kategori
        </th>
        <th>
            @eriskitap.Resources.lang.Fiyat
        </th>
        <th>
            @eriskitap.Resources.lang.ResimYol
        </th>
        <th>
            @eriskitap.Resources.lang.Adet
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResimYol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adet)
        </td>
        <td>
            @Html.ActionLink(@eriskitap.Resources.lang.Duzenle, "Edit", new { id=item.ID }) |
            @Html.ActionLink(@eriskitap.Resources.lang.Detaylar, "Details", new { id=item.ID }) |
            @Html.ActionLink(@eriskitap.Resources.lang.Sil, "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
