﻿@{
    ViewBag.Title = @eriskitap.Resources.lang.AdminPanel;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Uyes/UyeOl">@eriskitap.Resources.lang.KayitEkle</a></li>
                <li><a href="/Uruns">@eriskitap.Resources.lang.Urunler</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <td colspan="6" class="text-center text-info"><b>@eriskitap.Resources.lang.Son20Urun</b></td>
            </tr>
            <tr>
                <th>@eriskitap.Resources.lang.Ad</th>
                <th>@eriskitap.Resources.lang.Detay</th>
                <th>@eriskitap.Resources.lang.Kategori</th>
                <th>@eriskitap.Resources.lang.Fiyat</th>
                <th>@eriskitap.Resources.lang.Adet</th>
            </tr>

            @foreach (var item in ViewBag.Son20Urun)
            {
                <tr>
                    <td>@item.Ad</td>
                    <td>@item.Detay</td>
                    <td> @item.Kategori</td>
                    <td>@item.Fiyat</td>
                    <td>@item.Adet</td>
                    <td>
                        <a href="@Url.Action("Edit", "Uruns", new { id = item.ID })"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="@Url.Action("Details", "Uruns", new { id = item.ID })"><span class="glyphicon glyphicon-zoom-in"></span></a>
                        <a href="@Url.Action("Delete", "Uruns", new { id = item.ID })"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            }
        </table>

    </div>


    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <td colspan="6" class="text-center text-info"><b>@eriskitap.Resources.lang.Son20Uye</b></td>
            </tr>
            <tr>
                <th>@eriskitap.Resources.lang.Ad</th>
                <th>@eriskitap.Resources.lang.Soyad</th>
                <th>@eriskitap.Resources.lang.Eposta</th>

            </tr>

            @foreach (var item in ViewBag.Son20Uye)
            {
                <tr>
                    <td>@item.Ad</td>
                    <td>@item.Soyad</td>
                    <td> @item.Eposta</td>
                    <td>
                        <a href="@Url.Action("Edit", "Uyes", new { id = item.ID })"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="@Url.Action("Details", "Uyes", new { id = item.ID })"><span class="glyphicon glyphicon-zoom-in"></span></a>
                        <a href="@Url.Action("Delete", "Uyes", new { id = item.ID })"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            }
        </table>

    </div>
</div>

