﻿@model eriskitap.Models.Uye

@{
    ViewBag.Title = @eriskitap.Resources.lang.Sil;
}

<h2>@eriskitap.Resources.lang.Sil</h2>

<div>
    <h4>@eriskitap.Resources.lang.Uye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @eriskitap.Resources.lang.Ad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @eriskitap.Resources.lang.Soyad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyad)
        </dd>

        <dt>
            @eriskitap.Resources.lang.Eposta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eposta)
        </dd>

        <dt>
            @eriskitap.Resources.lang.Sifre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            @eriskitap.Resources.lang.Rutbe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rutbe)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@eriskitap.Resources.lang.Sil class="btn btn-default" />
        </div>
    }
</div>
