﻿@{
    ViewBag.Title = ViewBag.Ad + " " + eriskitap.Resources.lang.Profil;
    var Adresler = ViewBag.Adresler;
    var UyeBilgi = ViewBag.UyeBilgi;

}

<hr />

<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="text-center">
            <table class="table table-striped table-bordered table-hover">
                <tr><td>@eriskitap.Resources.lang.Ad: @UyeBilgi.Ad</td></tr>

                <tr><td>@eriskitap.Resources.lang.Soyad: @UyeBilgi.Soyad</td></tr>

                <tr><td>@eriskitap.Resources.lang.Eposta: @UyeBilgi.Eposta</td></tr>

                <tr><td>@eriskitap.Resources.lang.Sifre: *********</td></tr>
                <tr><td><a href="Guncelle/@UyeBilgi.ID" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> @eriskitap.Resources.lang.BilgilerimiGuncelle</a></td></tr>

            </table>
        </div>
        <hr />
        <div class="text-center">
            <table class="table table-striped table-bordered table-hover">
                @if (ViewBag.Adresler != null)
                {
                    foreach (var item in Adresler)
                    {
                        <tr><td class="success">@item.Ad</td></tr>

                        <tr><td> @item.Adres<br />@item.Sehir @item.Semt</td></tr>
                    }
                }
                <tr>
                    <td colspan="3" class="text-center">
                        <a href="@Url.Action("AdresEkle","Uyes")" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> @eriskitap.Resources.lang.YeniAdresEkle</a>
                    </td>
                </tr>

            </table>
        </div>
        <hr />
    </div>

    <div class="col-md-8">
        <table class="table table-bordered text-center">
            <tr>
                <th class="text-center">@eriskitap.Resources.lang.Gorsel</th>
                <th class="text-center">@eriskitap.Resources.lang.Ad</th>
                <th class="text-center">@eriskitap.Resources.lang.Detay</th>
                <th class="text-center">@eriskitap.Resources.lang.Fiyat</th>
            </tr>

            @if (ViewBag.Sepet == null)
            {
                <tr>
                    <th colspan="5" class="text-center">@eriskitap.Resources.lang.SepetinizBos</th>
                </tr>
            }

            @if (ViewBag.Sepet != null)
            {
                foreach (var i in ViewBag.Sepet)
                {
                    <tr>
                        <td><img src="@i.ResimYol" class="img-responsive  text-center" width="50" /></td>
                        <td>@i.Ad</td>
                        <td>@i.Detay</td>
                        <td>@i.Fiyat</td>
                    </tr>
                }
            }
        </table>

        @if (ViewBag.Sepet != null)
        {
            <div class="row ol-md-12 text-center">
                <a href="/Sepet/SatinAl" class="btn btn-success">@eriskitap.Resources.lang.SiparisiTamamla</a>
            </div>
        }
    </div>
</div>
